- if @restaurants.any?
  - @restaurants.each do |restaurant|

    = link_to restaurant.name, restaurant_path(restaurant)
    %br
    %p= restaurant.description

    - if restaurant.user == current_user
      = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
      %br
      = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete

    %br
    = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
    - restaurant.reviews.each do |review|
      %p= review.thoughts
      %p= review.rating
      = link_to "Delete #{restaurant.name} review", restaurant_review_path(restaurant, review) , method: :delete
      -# "/restaurants/#{restaurant.id}/reviews/#{review.id}"

- else
  %h1 No restaurants yet!

%br
%br
%a(href='/restaurants/new') Add a restaurant
